
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #e9edc9;
}

i {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #d4a373;
  color: white;
  padding: 25px 60px;
  margin-bottom: 30px;
  height: 120px;
}

.carrito {
  position: relative;
  background-color: #fff;
  color: #d4a373;
  font-size: 30px;
  padding: 12px;
  border-radius: 50px;
}

.cantidadCarrito {
  position: absolute;
  top: -15px;
  right: -10px;
  font-size: 16px;
  background-color: red;
  color: white;
  padding: 3px;
  border-radius: 3px;
}

.titulo {
  text-align: center;
  margin: 20px;
  font-size: 65px;
}

.titulo-h3 {
  text-align: center;
  margin: 20px;
  font-size: 35px;

}

.tienda {
  display: grid;
  grid-template-columns: repeat(4, 223px);
  gap: 30px;
  justify-content: center;
  margin-bottom: 50px;
}

@media (max-width: 1000px) {
  .tienda {
    grid-template-columns: repeat(2, 223px);
  }
}

@media (max-width: 500px) {
  .tienda {
    grid-template-columns: repeat(1, 223px);
  }
}

.item {
  border: 2px solid #ccd5ae;
  border-radius: 20px 20px 4px 4px;
  background: #e9edc9;
  box-shadow: -10px 10px 30px #d6dab9,
    10px -10px 30px #fcffd9;
}

.item img {
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.detalles {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}

.cantidad-precio {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.botones {
  display: flex;
  flex-direction: row;
  gap: 8px;
  font-size: 16px;
}

.bi-dash-lg {
  color: #d4a373;
}

.bi-plus-lg {
  color: #d4a373;
}

.text-center {
  text-align: center;
  margin-bottom: 20px;
}

.HomeBtn,
.checkout,
.removeAll {
  background-color: #d4a373;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 3px;
  cursor: pointer;
  margin: 10px;
  border-radius: 12px;
}

.checkout {
  background-color: #d4a373;
  color: #d6dab9;
}

.removeAll {
  background-color: transparent;
  border: #d4a373 2px solid;
  color: #d4a373;
}

.bi-x-lg {
  color: #d4a373;
  font-weight: bold;
  margin: 10px;
}


.carrito-compras {
  display: grid;
  grid-template-columns: repeat(1, 320px);
  justify-content: center;
  gap: 15px;
}

.carrito-item {
  border: 2px solid #ccd5ae;
  border-radius: 8px;
  display: flex;
  background: #e9edc9;
  box-shadow: -10px 10px 15px #d6dab9,
    10px -10px 15px #fcffd9;
}

.carrito-item img {
  border-radius: 8px 0 0 8px;
}

.title-price-x {
  width: 195px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-price {
  display: flex;
  align-items: center;
  gap: 10px;
}

.carrito-item-precio {
  background-color: #d4a373;
  color: #fff;
  border-radius: 4px;
  padding: 8px 10px;
}

.footer {
  height: 150px;
  width: 100%;
  background-color: #d4a373;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.icons a {
  margin: 10px;
  color: #ccd5ae;
}

.icons {
  font-size: 40px;
}